body {
    margin: auto;
    font-family: "Press Start 2P", cursive;
}
@media only screen and (max-width: 425px) {
    .rotate {
        width: 100vw;
        height: 100vh;
        background-color: #fefefe;
        position: absolute;
        display: block !important;
    }
}

.rotate {
    display: none;
    top: 0;
    text-align: center;
}

.rotate > h2 {
    margin: auto;
    position: absolute;
    top: 45%;
}
